.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5rem;
}

.no_posts {
  text-align: center;
}

.no_posts p {
  margin-bottom: 1.5em;
}

.no_posts a {
  padding: 10px 25px;
}
